{% include "includes/fonts.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lahoren | 4XX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noncontent_style.css') }}">
</head>
<body>
    <div id="response_container">
        <div id="header">4XX ERROR</div>
        <hr>
        <div id="content">Looks like something went wrong. It was probably my bad if we're being honest, but all my things are saying it was you. So, that's awkward...  🤷‍♂️
        </div>
    </div>
</body>
</html>