{% include "includes/fonts.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex Bruns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noncontent_style.css') }}">
</head>
<body>
    <div id="response_container">
        <div id="header">5XX ERROR</div>
        <hr>
        <div id="content">Looks like something went wrong. Looks like it was my bad. So, sorry 'bout that. Nobody's perfect 🤷‍♂️
        </div>
    </div>
    {% include "includes/footer_nav.html" %}
</body>
</html>