{% include "includes/fonts.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex Bruns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noncontent_style.css') }}">
</head>
<body>
    <div id="response_container">
        <div id="header">WORK IN PROGRESS</div>
        <hr>
        <div id="content">So, I'm a university student, and I have a bunch of midterms coming up. I'm going to go study for those rather than build this page. Priorities are a bitch. Come back in a bit, and maybe I'll have this finished.
        </div>
    </div>
    {% include "includes/footer_nav.html" %}
</body>
</html>