<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lahoren</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container page">
        <div class="container full_width header">
            <div class="header_choice"><a href="{{ url_for('wip') }}">Downloads</a></div>
            <div class="header_choice"><a href="{{ url_for('wip') }}">About</a></div>
            <div class="header_choice"><a href="{{ url_for('wip') }}">Contact</a></div>
            <div class="header_choice"><a href="{{ url_for('wip') }}">Misc</a></div>
        </div>
    </div>
</body>
</html>