{% include "includes/fonts.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lahoren</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script rel="text/javascript" src="{{ url_for('static', filename='js/root.js') }}"></script>
</head>
<body>
    <div id="meta_header">
        <h1>Don't let it get away! Click a menu option before it's too late!</h1>
    </div>
    <div class="container page" id="page">
        <div class="container center">
            <div class="close_container">
                <h1 id="Alex_Bruns_Label">Alex Bruns: Software Engineer</h1>
            </div>
        </div>
        {% include "includes/footer_nav.html" %}
    </div>
</body>
</html>