<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lahoren | upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noncontent_style.css') }}">

</head>
<body>
    <div id="response_container">
        <div id="header">UPLOAD A FILE</div>
        <hr>
        <div id="content">
            <form id="form" method=post enctype=multipart/form-data>
                <input class="input_el" type="password" value=password>
                <input class="input_el" type=file name=file>
                <input class="input_el" type=submit value=Upload>
            </form>
        </div>
    </div>
    {% include "includes/footer_nav.html" %}
</body>
</html>